.navbarCSS {
    padding: 15px 20px;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: space-between !important;
    width: 100vw;

}

.navItemCSS {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navTitle {
    font-size: 25px !important;
    font-weight: bold;
    font-size: 1.5rem;
    color: #ffffff !important;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
}

body {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    font-family: 'Arial', sans-serif;
}

.form-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    color: #333;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

.input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #6a11cb;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
    padding-left: 30px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #6a11cb;
    outline: none;
}

.login-button,
.register-button {
    background-color: #5d1ef1;

    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 15px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.2s;
}

.login-button:hover,
.register-button:hover {
    background-color: #ff4646;
}